.navbar {
  padding: 20px 0 10px;
  background-color: #1e94d2;
}

.navbar-toggle {
  color: #fff;
}

.navbar-menu {
  position: fixed;  /* Posição Fixa da barra de menu */
  top: 0;           /* Para o menu ficar colado na parte de cima */
  bottom: 0;        /* Para o menu ficar colado na parte de baixo */
  right: 0;         /* Para o menu ficar colado na direita */
  width: 210px;     /* Para o menu ter uma largura de 210px */
  margin: 0;
  padding: 0;       /* Tirar o espaçamento interno */
  z-index: 9998;    /* Prioridade */

  background-color: #3a3633;

  list-style: none; /* Tirar a bolinha do UI LI*/
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;

  text-transform: uppercase;            /*Texto tudo em maiuscula*/
  font-weight: bold;
  color: #fff;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;    /* Tirar o sublinhado do item */
}

.navbar-menuitem a:hover {
  color: #fff;          /* Quando passar o mouse por cima do link */
}

.navbar-menuitem.ativo {
  background-color: #494541;
}
